@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-position: top, bottom;
  background-repeat: no-repeat, no-repeat;
  background-size: cover;
}

img {
  max-width: 100%;
}

.box {
  max-width: 1440px;
  margin: 100px auto;
  padding: 0 100px;
  background-color: #fff;
}

.container-one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container-one h2 {
  color: #502050;
  font-size: 3rem;
}

.container-one .intro {
  padding-right: 150px;
}

.container-one .intro p {
  color: #937b92;
  font-size: 1.2rem;
  margin-top: 20px;
}

.rated-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #502050;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px 0px;
}

.rated-box .rate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f7f2f7;
  padding-left: 20px;
  width: 500px;
  height: 50px;
  border-radius: 5px;
}

.rated-box .rate:nth-of-type(2) {
  margin: 20px 0px 0px 50px;
}

.rated-box .rate:nth-of-type(3) {
  margin: 20px 0px 0px 100px;
}

.rated-box img {
  padding-left: 5px;
  float: left;
}

.rated-box p {
  padding-left: 30px;
  font-size: 0.9rem;
  font-weight: bold;
}

.container-two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 100px;
}

.container-two .review {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #502050;
  border-radius: 5px;
  padding: 20px 10px;
  color: #fff;
  margin-bottom: 50px;
  padding: 40px 20px;
  font-size: 1rem;
}

.container-two .review:nth-of-type(2) {
  margin: 25px 0px 25px 30px;
}

.container-two .review:nth-of-type(3) {
  margin: 50px 0px 0px 30px;
}

.container-two .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.container-two .verified {
  color: #ee68a4;
}

.container-two img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 20px;
}

.container-two p {
  font-weight: 500;
}

@media (max-width: 768px) {
  body {
    background-image: url("images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
  }
  .box {
    padding: 20px;
  }
  .container-one, .container-two {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  .box .intro {
    width: 335px;
    text-align: center;
    padding-right: 0px;
  }
  .rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 335px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rate p {
    padding-left: 10px;
    text-align: center;
  }
  .container-two .review {
    display: block;
    width: 335px;
    margin: 0px;
  }
  .container-one .rate:nth-of-type(2) {
    margin-left: 0px;
  }
  .container-one .rate:nth-of-type(3) {
    margin-left: 0px;
  }
  .container-two .review:nth-of-type(2) {
    margin-left: 0px;
  }
  .container-two .review:nth-of-type(3) {
    margin-left: 0px;
  }
}

@media (max-width: 375px) {
  body {
    background-image: url("images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
    background-position: top, bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: cover;
  }
  .box {
    padding: 20px;
  }
  .container-one, .container-two {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px;
  }
  .box .intro {
    width: 335px;
    text-align: center;
    padding-right: 0px;
  }
  .rate {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 335px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rate p {
    padding-left: 10px;
    text-align: center;
  }
  .container-two .review {
    display: block;
    width: 335px;
    margin: 0px;
  }
  .container-one .rate:nth-of-type(2) {
    margin-left: 0px;
  }
  .container-one .rate:nth-of-type(3) {
    margin-left: 0px;
  }
  .container-two .review:nth-of-type(2) {
    margin-left: 0px;
  }
  .container-two .review:nth-of-type(3) {
    margin-left: 0px;
  }
}
/*# sourceMappingURL=style.css.map */